.App {
  min-height: 100vh;
  background-color: aqua; 
  display: flex;
  justify-content: space-around;

  align-items: center; 
  
}


.tweet{
  height: 300px;
  width: 300px;
background-color: white;
border-radius: 30px;
display: flex;
flex-direction: column; 
justify-content: space-around;
align-items: center;
color: black; 
 
}

h1{
 color: green; 
}

h3{
  color: black; 
}

.red{
  color: white; 
  size: 30px;
}
.yellow{

  color: pink; 
  size: 45px; 
}